{{ attach_library('flagship_programmer_form/flagship_programmes') }}
<div class="flagship-programmes">
  <h2>Flagship Programmes</h2>
  <div class="programmes">
    {% for item in data %}
      <div class="programme">
        <h3>{{ item.group_name }}</h3>
        <div class="programme-details">
          <div class="programme-item">
            <span class="label">{{ item.label_1 }}</span>
            <span class="value">{{ item.value_1 }}</span>
          </div>
          <div class="programme-item">
            <span class="label">{{ item.label_2 }}</span>
            <span class="value">{{ item.value_2 }}</span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
